html,
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu{
    position: absolute;
    background: white;
    text-align: center;
    padding: 10px;
}

.hidden{
    display: none;
}

